@use 'variables';

.footer {
  display: flex;
  justify-content: center;
  block-size: variables.$footer-block-size;
  margin-bottom: 3rem;

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 0.1rem solid transparent;

    &:hover {
      border-bottom: 0.1rem solid var(--link-border);
    }

    &:focus-visible {
      outline: 0.1rem solid var(--link-border);
    }

    &-logo {
      inline-size: variables.$github-icon-size;
    }

    &-text {
      font-family: variables.$title-text;
      font-size: variables.$footer-text-size;
      color: var(--link-color);
    }
  }
}