[data-theme="dark"] {
  --bg-color: #3B221E;        // Кофейный фон
  --title-color: #FAF9F6;     // Нюдовый текст
  
  --weekend-color: #A39E98;   // Серый чуть светлее/ярче, чтобы читался
  --today-bg: #F0DDF0;        // Лаванда капельку сочнее, чтобы мягко светилась
}