:root {
  --bg-color: #FAF9F6;
  --title-color: #3B221E;
  --subtitle-color: #3B221E;
  --text-color: #3B221E;
  --calendar-day-color: #3B221E;

  --btn-text-color: #3B221E;
  --btn-bg-hover: #F5F4F0;
  --btn-border: #3B221E;

  --link-border: #3B221E;
  --link-color: #3B221E;

  --weekend-color: #8E8A85;
  --today-bg: #E6D7E3;
  --day-bg-hover: #F5F4F0;
  --selected-border: #3B221E;
  --calendar-border: #3B221E;

  --logo-btn-border: #3B221E;

  --scrollbar-color: #3B221E;

  --modal-bg: #FAF9F6;
  --modal-border: #3B221E;
  --modal-overlay: rgba(0, 0, 0, 0.6);
  --modal-title-color: #3B221E;

  --input-border: #3B221E;
  --input-text-color: #3B221E;
  --input-bg: #FAF9F6;
  --input-bg-hover: #F5F4F0;

  --timer-color: #3B221E;
}

$title-text: 'Tenor Sans', sans-serif;
$subtitle-text: 'Lato', sans-serif;
$main-text: 'Roboto', sans-serif;
$num-text: 'Oswald', sans-serif;

$header-block-size: clamp(6rem, 12vh, 12rem);
$logo-size: clamp(10rem, 20vw, 22rem);
$title-text-size: clamp(1.5rem, 3.2vw, 4.8rem);

$btn-text-size: clamp(1rem, 1vw + 0.8rem, 1.4rem);

$footer-block-size: clamp(4rem, 8vh, 6rem);
$github-icon-size: clamp(3.5rem, 4vw + 1rem, 6rem);
$footer-text-size: clamp(1.4rem, 3.5vw - 1rem, 4rem);

$main-size: calc(99vh - (#{$header-block-size} + #{$footer-block-size}));